
@{
    ViewBag.Title = "Index";
}

@model Notado.ViewModels.NotaViewModel


    <form action="/Nota/Adicionar" method="post">
        <div class="text-center">
            <h1 class=" text-gray-900">Cadastro Turma</h1>
        </div>
        <div class="row">
            <div class="col">
                <label for="turma">Turma</label>
                <select name="NotaViewModel.TurmaId" class="form-control">
                    @foreach (var turma in ViewBag.Turmas)
                    {
                        <option value="@turma.Id">@turma.Ensino - @turma.Ano ano @turma.Divisor</option>
                    }
                </select>
            </div>
            <div class="col">
                <label for="disciplina">Disciplina</label>
                <select name="AvaliacaoViewModel.DisciplinaId" class="form-control">
                    @foreach (var disciplina in ViewBag.Disciplinas)
                    {
                        <option value="@disciplina.Id">@disciplina.Nome</option>
                    }
                </select>
            </div>
            <div class="col">
                <label for="bimestre">Bimestre</label>
                <select id="bimestre" name="ProvaViewModel.Bimestre" class="form-control">
                    <option value=""></option>
                    <option value="1">1 Bimestre</option>
                    <option value="2">2 Bimestre</option>
                    <option value="3">3 Bimestre</option>
                    <option value="4">4 Bimestre</option>

                </select>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var Aluno in ViewBag.Alunos)
                {
                    <tr>
                        <th scope="row">@Aluno.Id</th>
                        <td>@Aluno.nome</td>
                        <td>@Aluno.cpf</td>

                    </tr>
                }
            </tbody>
        </table>

    </form>

