@model Notado.ViewModels.NotaViewModel
@{

    var aluno = ViewBag.aluno;
}

@using (Html.BeginForm("AdicionarNota", "Aluno", FormMethod.Post))
{

<div class="text-center">
    <h1 class=" text-gray-900">Cadastrar Nota</h1>
</div>
<div class="row">
    <div class="col">
        <label for="turma">Turma</label>
        <select name="TurmaId" class="form-control">
            @foreach (var turma in ViewBag.Turmas)
            {
                <option value="@turma.Id">@turma.Ensino - @turma.Ano ano @turma.Divisor</option>
            }
        </select>
    </div>
    <div class="col">
        <label for="disciplina">Disciplina</label>
        <select name="DisciplinaId" class="form-control">
            @foreach (var disciplina in ViewBag.Disciplinas)
            {
                <option value="@disciplina.Id">@disciplina.Nome</option>
            }
        </select>
    </div>
    <div class="col">
        <label for="bimestre">Bimestre</label>
        <select id="bimestre" name="Bimestre" class="form-control">
            <option value=""></option>
            <option value="1">1 Bimestre</option>
            <option value="2">2 Bimestre</option>
            <option value="3">3 Bimestre</option>
            <option value="4">4 Bimestre</option>

        </select>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Prova</th>
            <th scope="col">Recuperação</th>
            <th scope="col">Trabalho</th>


        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">@aluno.Id</th>
            <td>@aluno.nome</td>
            <td>@aluno.cpf</td>
            <td> <input id="Nome" name="Prova" placeholder="10,0" class="form-control"> </td>
            <td> <input id="Nome" name="Recuperacao" placeholder="10,0" class="form-control" /> </td>
            <td> <input id="Nome" name="Trabalho" placeholder="10,0" class="form-control" /> </td>


        </tr>
        
    </tbody>
</table>

<button type="submit" class="btn btn-primary">Adicionar</button>

}