@model Notado.ViewModels.AlunoViewModel
@{
    var Aluno = ViewBag.Aluno;
    var turma = ViewBag.Turmas;
}


    <form action="/Aluno/Editar" method="post">
        <div class="card">
            <div class="card-body">
                <h1 class="card-title">Atualiza Aluno</h1><br />

            <div style="display: none;">
                <input id="id" value="@Aluno.Id" name="AlunoViewModel.Id" />
            </div>
            <div class="form-group row">
                <div class="col">
                    <label for="Nome">Nome <h11>*</h11></label>
                    <input id="Nome" name="AlunoViewModel.nome" value="@Aluno.nome" placeholder="" class="form-control" required="" type="text">
                </div>
                <div class="col">
                    <label for="email">Email <h11>*</h11></label>
                    <input id="email" name="AlunoViewModel.email" value="@Aluno.email" class="form-control" placeholder="email@email.com" required="" type="email">
                </div>
            </div>


            <div class="form-group row">
                <div class="col">
                    <label for="cpf">CPF</label>
                    <input id="cpf" name="AlunoViewModel.cpf" value="@Aluno.cpf" placeholder="Apenas números" class="form-control" required="" maxlength="11" pattern="[0-9]+$">
                </div>
                <div class="col">
                    <label for="Nome">Nascimento <h11>*</h11></label>
                    <input id="dtnasc" name="AlunoViewModel.dtnasc" value="@Aluno.dtnasc" placeholder="DD/MM/AAAA" class="form-control" required="" type="text" maxlength="10" OnKeyPress="formatar('##/##/####', this)" onBlur="showhide()">
                </div>
                <div class="col">
                    <label for="telefone">Telefone <h11>*</h11></label>
                    <input id="telefone" name="AlunoViewModel.telefone" value="@Aluno.telefone" class="form-control" placeholder="XX XXXXX-XXXX" required="" type="text" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$"
                           OnKeyPress="formatar('## #####-####', this)">
                </div>
                <div class="col">
                    <label for="turma">Turma</label>
                    <select name="AlunoViewModel.TurmaId" class="form-control">
                        @foreach (var Turma in turma)
                        {
                            <option value="@Turma.Id">@Turma.Ensino - @Turma.Ano ano @Turma.Divisor</option>
                        }
                    </select>
                </div>
            </div><br />
            <!------------------------------Responsável 1-------------------------------------->
            <div class="">
                <h1 class="card-title">Responsável 1</h1>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label for="nomeResp">Nome <h11>*</h11></label>
                    <input id="nomeResp" value="@Aluno.nome_responsavel_1" name="AlunoViewModel.nome_responsavel_1" placeholder="" class="form-control" required="" type="text">
                </div>
                <div class="col">
                    <label for="emailResp">Email <h11>*</h11></label>
                    <input id="emailResp" value="@Aluno.email_responsavel_1" name="AlunoViewModel.email_responsavel_1" class="form-control" placeholder="email@email.com" required="" type="email">
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label for="vinculo">Vinculo <h11>*</h11></label>
                    <input id="vinculo" value="@Aluno.vinculo" name="AlunoViewModel.vinculo" placeholder="" class="form-control" required="" type="text">
                </div>
                <div class="col">
                    <label for="dtnascResp">Nascimento<h11>*</h11></label>
                    <input id="dtnascResp" value="@Aluno.dtnasc_responsavel_1" name="AlunoViewModel.dtnasc_responsavel_1" placeholder="DD/MM/AAAA" class="form-control" required="" type="text" maxlength="10" OnKeyPress="formatar('##/##/####', this)">
                </div>
                <div class="col">
                    <label for="estadoCivil">Estado Civil <h11>*</h11></label>
                    <select required id="estadoCivil" name="AlunoViewModel.estadoCivil_responsavel_1" class="form-control">
                        <option value=""></option>
                        <option value="Solteiro(a)">Solteiro(a)</option>
                        <option value="Casado(a)">Casado(a)</option>
                        <option value="Divorciado(a)">Divorciado(a)</option>
                        <option value="Viuvo(a)">Viuvo(a)</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label for="cpfResp">CPF</label>
                    <input id="cpfResp" value="@Aluno.cpf_responsavel_1" name="AlunoViewModel.cpf_responsavel_1" placeholder="Apenas números" class="form-control" required="" type="text" maxlength="11" pattern="[0-9]+$">
                </div>
                <div class="col">
                    <label for="rg">RG</label>
                    <input id="rg" name="AlunoViewModel.rg_responsavel_1" value="@Aluno.rg_responsavel_1" placeholder="Apenas números" class="form-control" required="" type="text" maxlength="11">
                </div>
                <div class="col">

                    <label for="selectbasic">Escolaridade <h11>*</h11></label>
                    <select required id="escolaridade" name="AlunoViewModel.escolaridade_responsavel_1" value="@Aluno.escolaridade_responsavel_1" class="form-control">
                        <option value=""></option>
                        <option value="Analfabeto">Analfabeto</option>
                        <option value="Fundamental Incompleto">Fundamental Incompleto</option>
                        <option value="Fundamental Completo">Fundamental Completo</option>
                        <option value="Médio Incompleto">Médio Incompleto</option>
                        <option value="Médio Completo">Médio Completo</option>
                        <option value="Superior Incompleto">Superior Incompleto</option>
                        <option value="Superior Completo">Superior Completo</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label for="telefoneResp">Telefone <h11>*</h11></label>
                    <input id="telefoneResp" name="AlunoViewModel.telefone_responsavel_1" value="@Aluno.telefone_responsavel_1" class="form-control" placeholder="XX XXXXX-XXXX" required="" type="text" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$"
                           OnKeyPress="formatar('## #####-####', this)">
                </div>
                <div class="col">
                    <label for="telefone2Resp">Telefone Alternativo<h11>*</h11></label>
                    <input id="telefone2Resp" name="AlunoViewModel.telefone2_responsavel_1" value="@Aluno.telefone2_responsavel_1" class="form-control" placeholder="XX XXXXX-XXXX" required="" type="text" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$"
                           OnKeyPress="formatar('## #####-####', this)">
                </div>
                <div class="col">
                    <label for="profissao">Profissão<h11>*</h11></label>
                    <input id="profissao" name="AlunoViewModel.profissao_responsavel_1" value="@Aluno.profissao_responsavel_1" type="text" placeholder="" class="form-control input-md" required="">
                </div>

            </div><br />

            <!------------------------------Responsável 2-------------------------------------->
            <div class="">
                <h1 class="card-title">Responsável 2</h1>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label for="nomeResp">Nome <h11>*</h11></label>
                    <input id="nomeResp" name="AlunoViewModel.nome_responsavel_2" value="@Aluno.nome_responsavel_2" placeholder="" class="form-control" required="" type="text">
                </div>
                <div class="col">
                    <label for="emailResp">Email <h11>*</h11></label>
                    <input id="emailResp" name="AlunoViewModel.email_responsavel_2" value="@Aluno.email_responsavel_2" class="form-control" placeholder="email@email.com" required="" type="email">
                </div>
            </div>

            <div class="form-group row">
                <div class="col">
                    <label for="    lo">Vinculo <h11>*</h11></label>
                    <input id="vinculo" name="AlunoViewModel.vinculo2" placeholder="" value="@Aluno.vinculo2" class="form-control" required="" type="text">
                </div>
                <div class="col">
                    <label for="dtnascResp">Nascimento<h11>*</h11></label>
                    <input id="dtnascResp" name="AlunoViewModel.dtnasc_responsavel_2" value="@Aluno.dtnasc_responsavel_2" placeholder="DD/MM/AAAA" class="form-control" required="" type="text" maxlength="10" OnKeyPress="formatar('##/##/####', this)">
                </div>
                <div class="col">
                    <label for="estadoCivil">Estado Civil <h11>*</h11></label>
                    <select required id="estadoCivil" name="AlunoViewModel.estadoCivil_responsavel_2" class="form-control">
                        <option value=""></option>
                        <option value="Solteiro(a)">Solteiro(a)</option>
                        <option value="Casado(a)">Casado(a)</option>
                        <option value="Divorciado(a)">Divorciado(a)</option>
                        <option value="Viuvo(a)">Viuvo(a)</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label for="cpfResp">CPF</label>
                    <input id="cpfResp" name="AlunoViewModel.cpf_responsavel_2" value="@Aluno.cpf_responsavel_2" placeholder="Apenas números" class="form-control" required="" type="text" maxlength="11" pattern="[0-9]+$">
                </div>
                <div class="col">
                    <label for="rg">RG</label>
                    <input id="rg" name="AlunoViewModel.rg_responsavel_2" value="@Aluno.rg_responsavel_2" placeholder="Apenas números" class="form-control" required="" type="text" maxlength="11">
                </div>
                <div class="col">

                    <label for="selectbasic">Escolaridade <h11>*</h11></label>
                    <select required id="escolaridade" name="AlunoViewModel.escolaridade_responsavel_2" class="form-control">
                        <option value=""></option>
                        <option value="Analfabeto">Analfabeto</option>
                        <option value="Fundamental Incompleto">Fundamental Incompleto</option>
                        <option value="Fundamental Completo">Fundamental Completo</option>
                        <option value="Médio Incompleto">Médio Incompleto</option>
                        <option value="Médio Completo">Médio Completo</option>
                        <option value="Superior Incompleto">Superior Incompleto</option>
                        <option value="Superior Completo">Superior Completo</option>
                    </select>
                </div>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label for="telefoneResp">Telefone <h11>*</h11></label>
                    <input id="telefoneResp" name="AlunoViewModel.telefone_responsavel_2" value="@Aluno.telefone_responsavel_2" class="form-control" placeholder="XX XXXXX-XXXX" required="" type="text" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$"
                           OnKeyPress="formatar('## #####-####', this)">
                </div>
                <div class="col">
                    <label for="telefone2Resp">Telefone Alternativo<h11>*</h11></label>
                    <input id="telefone2Resp" name="AlunoViewModel.telefone2_responsavel_2" value="@Aluno.telefone2_responsavel_2" class="form-control" placeholder="XX XXXXX-XXXX" required="" type="text" maxlength="13" pattern="\[0-9]{2}\ [0-9]{4,6}-[0-9]{3,4}$"
                           OnKeyPress="formatar('## #####-####', this)">
                </div>
                <div class="col">
                    <label for="profissao">Profissão<h11>*</h11></label>
                    <input id="profissao" name="AlunoViewModel.profissao_responsavel_2" value="@Aluno.profissao_responsavel_2" type="text" placeholder="" class="form-control input-md" required="">
                </div>

            </div><br />

            <!--------------------------------Endereço-------------------------------------------------------->
            <div >
                <h1 class="card-title">Endereço</h1>
            </div>
            <div class="form-group row">
                <div class="col">
                    <label for="cep">CEP <h11>*</h11></label>
                    <input id="cep" name="AlunoViewModel.cep" placeholder="Apenas números" value="@Aluno.cep" class="form-control" required="" type="search" maxlength="8" pattern="[0-9]+$">
                </div>
                <div class="col-md-2">
                    <label for="button" style="opacity:0;">Pesquisar</label><br />
                    <button id="button" type="button" class="btn btn-primary btn-sm" onclick="pesquisacep(cep.value)">Pesquisar</button>
                </div>

                <div class="col">
                    <label for="rua">Rua</label>
                    <input id="rua" name="AlunoViewModel.rua" class="form-control" value="@Aluno.rua" placeholder="" readonly="readonly" required="" type="text">

                </div>
                <div class="col">
                    <label for="numero">Nº <h11>*</h11></label>
                    <input id="numero" name="AlunoViewModel.numero" class="form-control" value="@Aluno.numero" placeholder="" required="" type="text">

                </div>
            </div>

            <div class="form-group row">

                <div class="col">
                    <label for="bairro">Bairro</label>
                    <input id="bairro" name="AlunoViewModel.bairro" class="form-control" value="@Aluno.bairro" placeholder="" required="" readonly="readonly" type="text">
                </div>

                <div class="col">
                    <label for="cidade">Cidade</label>
                    <input id="cidade" name="AlunoViewModel.cidade" class="form-control" value="@Aluno.cidade" placeholder="" readonly="readonly" required="" type="text">
                </div>


                <div class="col">
                    <label for="estado">Estado</label>
                    <input id="estado" name="AlunoViewModel.estado" class="form-control" value="@Aluno.estado   " placeholder="" readonly="readonly" required="" type="text">

                </div>
            </div>
            <!-- Button (Double) -->

                    <button id="Atualizar" name="Atualizar" class="btn btn-success" type="Submit">Atualizar</button>
                    <button id="Cancelar" name="Cancelar" class="btn btn-danger" type="Reset">Cancelar</button>
                </div>
            </div>
            <!--------------------------------Fechamento das div's do box-------------------------------------------------------->
    </form>
<script src="~/Scripts/form.js"></script>

