
@using Notado.Models
@using Notado.Enuns
@model Notado.ViewModels.AlunoViewModel

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Visualizar Alunos</h4><br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Email</th>
                    <th scope="col">Turma</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Responsável</th>
                    <th scope="col">Vínculo</th>
                    <th scope="col">Telefones</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var Aluno in ViewBag.Alunos)
                {
                    <tr class="busca">
                        <td class="info-nome">@Aluno.nome</td>
                        <td>@Aluno.email</td>
                        <td>@Aluno.TurmaId</td>
                        <td>@Aluno.telefone</td>
                        <td>@Aluno.nome_responsavel_1</td>
                        <td>@Aluno.vinculo</td>
                        <td>@Aluno.telefone_responsavel_1 / @Aluno.telefone2_responsavel_1</td>
                        @if ((Session["usuarioLogado"] as Usuario).Autorizacao == Autorizacao.adm)
                        {
                            <td><a href="/Aluno/Editar/@Aluno.Id" class="btn btn-primary">Editar</a></td>
                            <td><a href="/Aluno/Excluir/@Aluno.Id" class="btn btn-danger">Excluir</a></td>
                        }

                        <!-- Modal -->
                        @*<div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content justify-content-center">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title"></h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>O item será excluído permanentemente. Deseja continuar?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/Aluno/Excluir/@Aluno.Id" class="btn btn-danger">Excluir</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>

                            </div>
                        </div>*@

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
