

@model Notado.ViewModels.AlunoViewModel

@{
    var aluno = ViewBag.Aluno;
    var Notas = ViewBag.Notas;
}

<table class="table">
    <thead>
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Prova</th>
            <th scope="col">Recuperação</th>
            <th scope="col">Trabalho</th>
            <th scope="col">Bimestre</th>


        </tr>
    </thead>
    <tbody>

        <tr>
            <td>@aluno.nome</td>
            <td>@aluno.cpf</td>
            <td>@Notas.Prova</td>
            <td>@Notas.Recuperacao</td>
            <td>@Notas.Trabalho</td>
            <td>@Notas.Bimestre</td>


        </tr>


    </tbody>
</table>
