
@{
    ViewBag.Title = "Index";
}


@model Notado.ViewModels.DisciplinaViewModel

<div class="card">
    <div class="card-body">
        <h1 class="card-title">Vizualizar Disciplinas</h1><br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Professor ID</th>
                    <th scope="col">Carga Horária</th>
                    <th scope="col">Turma ID</th>
                    <th scope="col">Editar</th>
                    <th scope="col">Excluir</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var Disciplina in ViewBag.Disciplinas)
                {
                    <tr class="busca">
                        <th scope="row">@Disciplina.Id</th>
                        <td class="info-nome">@Disciplina.Nome</td>
                        <td>@Disciplina.ProfessorId</td>
                        <td>@Disciplina.CargaHoraria</td>
                        <td>@Disciplina.TurmaId</td>
                        <td><a href="/Disciplina/Editar/@Disciplina.Id" class="btn btn-primary">Editar</a></td>
                        <td><a href="/Disciplina/Excluir/@Disciplina.Id" class="btn btn-danger">Excluir</a></td>

                        <!-- Modal -->
                        @*<div class="modal fade" id="myModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content justify-content-center">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title"></h4>
                                    </div>
                                    <div class="modal-body">
                                        <p>O item será excluído permanentemente. Deseja continuar?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/Disciplina/Excluir/@Disciplina.Id" class="btn btn-danger">Excluir</a>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                                    </div>
                                </div>

                            </div>
                        </div>*@

                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>